@charset "UTF-8";
html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0px 200px 0 200px;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

/*violet*/
/*rose*/
/*vert*/
/*lighter grey*/
/*grey*/
.header_accueil .search_bouton {
  color: white;
  background: radial-gradient(circle, #a16be0 0%, #782cd3 100%);
}

.main_menu .order_button {
  color: white;
  background: radial-gradient(circle, #a16be0 0%, #782cd3 100%);
  align-items: center;
  justify-content: center;
}

footer {
  color: white;
  background-color: grey;
}

footer h1 {
  font-family: "Shrikhand", sans-serif;
}

.footer_line {
  display: flex;
  align-items: center;
}

.footer_line p {
  margin-left: 10px;
}

/*violet*/
/*rose*/
/*vert*/
/*lighter grey*/
/*grey*/
@media screen and (min-width: 1280px) {
  .recipes {
    display: flex;
  }
}

.starter {
  animation: fadein 3s ease-in-out;
}
@media screen and (min-width: 1280px) {
  .starter {
    width: 400px;
  }
}

.main_course {
  animation: fadein 6s ease-in-out;
}
@media screen and (min-width: 1280px) {
  .main_course {
    width: 400px;
  }
}

.dessert {
  animation: fadein 9s ease-in-out;
}
@media screen and (min-width: 1280px) {
  .dessert {
    width: 400px;
  }
}

.recipe_check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.recipe_check .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.recipe {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.recipe:hover {
  padding-right: 75px;
}
.recipe:hover .recipe_check {
  opacity: 1;
  transform: translate(-50px);
}
.recipe:hover .fa-check-circle {
  transform: rotate(360deg);
}

.recipe_info_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}

.recipe_info_price p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1280px) {
  .recipe_info_price p {
    padding-right: 20px;
  }
}

.recipe_info_price span {
  margin-right: 5px;
}

/*menus*/
.menu_title {
  display: flex;
  justify-content: center;
}

.img_menu {
  height: 200px;
  width: 100%;
}

.main_menu {
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -30px;
}

.main_menu .restaurant_name {
  display: flex;
  justify-content: center;
}

.main_menu .restaurant_name p {
  justify-content: center;
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
}

.restaurant_name .fa-heart {
  justify-content: end;
  color: white;
}

.section_plat {
  border-bottom: 3px solid #99E2D0;
  margin-left: 20px;
}

/*
.recipe
{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
    border-radius:20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
.recipe .recipe_text
{
    flex-direction: column;
}

.recipe_info_price
{
    display: flex;
}
.recipe_info_price .price
{
    margin-left:20px;
}
.recipe_check
{
    margin-left: auto;
    background-color: $tertiary_color;
    opacity: 0;
}
.recipe_check i
{
    color: $tertiary_color;
    background-color: white;

}
*/
/*
.proj-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 599px) {
      grid-template-columns: 1fr;
  }
}*/
/*violet*/
/*rose*/
/*vert*/
/*lighter grey*/
/*grey*/
@keyframes spinner_keyframe {
  0% {
    opacity: 1;
    rotate: 360deg;
  }
  50% {
    opacity: 0.5;
    rotate: 360deg;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.spinner {
  width: 56px;
  height: 56px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #474bff;
  animation: spinner_keyframe 1s ease-in-out 3s forwards;
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 20%;
}
@media screen and (min-width: 768px) {
  .spinner {
    top: 40%;
    left: 35%;
  }
}
@media screen and (min-width: 1280px) {
  .spinner {
    top: 40%;
    left: 45%;
  }
}

.logo {
  justify-content: center;
  display: flex;
}

.header_accueil {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #F6F6F6;
  border-color: black;
}

.header_accueil .city {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
}

.city a {
  margin-left: 10px;
}

.search_bouton {
  color: white;
  background-color: #9356DC; /*degradé*/
}

@media screen and (min-width: 1280px) {
  .functions {
    display: flex;
  }
}

.functions h1 {
  padding-left: 20px;
}

.functionning {
  display: flex;
  justify-content: center;
  align-items: center;
}

.functionning .sub-funct {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 16px;
  margin: 10px 0px 0 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fonc_number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
}

.func-icon {
  align-items: center;
  margin-left: 10px;
}

.fa-mobile, .fa-list, .fa-store {
  color: black;
}

.functionning p {
  margin-left: 10px;
}

/*restaurants*/
.restaurants {
  background-color: #F6F6F6;
}

.restaurant_link {
  text-decoration-line: none;
}

.restaurant {
  border-radius: 16px;
  background-color: white;
  margin: 20px 20px 0 20px;
  color: black;
  position: relative;
}

.new {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 1%;
  top: 5%;
}

.info_rest {
  display: flex;
  justify-content: space-between;
}

.info_rest .fa-heart {
  color: black;
  text-align: right;
  align-items: right;
  justify-content: end;
}

.fill_heart {
  color: black;
  cursor: pointer;
}
.fill_heart:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.img_rest {
  height: 200px;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.restaurant .new_restaurant1 {
  position: absolute;
  bottom: -50px;
  left: 350px;
  color: green;
  background-color: black;
}

.restaurant .new_restaurant2 {
  position: absolute;
  bottom: -50px;
  left: 350px;
  color: green;
  background-color: black;
}

/*violet*/
/*rose*/
/*vert*/
/*lighter grey*/
/*grey*/
@keyframes spinner_keyframe {
  0% {
    opacity: 1;
    rotate: 360deg;
  }
  50% {
    opacity: 0.5;
    rotate: 360deg;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
