html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

/*violet*/
/*rose*/
/*vert*/
/*lighter grey*/
/*grey*/
.order_button_div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.order_button_div .order_button {
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  box-shadow: 2px 5px 8px #d5d5d5;
  background: linear-gradient(to left top, #9356D5, #FF79DA);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 185px;
  margin-top: 20px;
  padding: 0 25px;
  border-radius: 25px;
  border: none;
}

footer {
  color: white;
  background-color: #353535;
  margin-top: 20px;
  padding: 20px 0 0 20px;
}

@media screen and (min-width: 1280px) {
  .footer_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
  }
}

footer h1 {
  font-family: "Shrikhand", sans-serif;
}

.footer_line {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .footer_line {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
}

.footer_line p {
  margin-left: 10px;
}

@media screen and (min-width: 1280px) {
  .footer_div p {
    margin-left: 20px;
  }
}

.footer_line .hand-icon {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  height: 14px;
  width: 14px;
}

/*violet*/
/*rose*/
/*vert*/
/*lighter grey*/
/*grey*/
@media screen and (min-width: 1280px) {
  .recipes {
    display: flex;
    justify-content: space-around;
  }
}

.starter {
  margin: 30px 0;
  animation: fadein 3s ease-in-out;
}
@media screen and (min-width: 1280px) {
  .starter {
    width: 100%;
  }
}

.main_course {
  margin: 30px 0;
  animation: fadein 6s ease-in-out;
}
@media screen and (min-width: 1280px) {
  .main_course {
    width: 100%;
  }
}

.dessert {
  margin: 30px 0;
  animation: fadein 9s ease-in-out;
}
@media screen and (min-width: 1280px) {
  .dessert {
    width: 100%;
  }
}

.dessert__title, .main_course__title, .starter__title {
  /* border-bottom: 3px solid #99E2D0; */
  background: linear-gradient(to right, #99E2D0, #99E2D0) no-repeat bottom transparent;
  background-size: 5% 3px;
  background-position: left bottom;
  margin-left: 5px;
  font-size: 1em;
  font-weight: 400;
  height: 30px;
}

.recipe {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.recipe:hover {
  padding-right: 75px;
}
.recipe:hover .recipe_check {
  opacity: 1;
  transform: translate(-50px);
}
.recipe:hover .fa-check-circle {
  transform: rotate(360deg);
}

.recipe_info_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}

.recipe_info_price p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: normal;
}
@media screen and (min-width: 1280px) {
  .recipe_info_price p {
    padding-right: 20px;
  }
}

.recipe_info_price span {
  margin-right: 25px;
}

.recipe_check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.recipe_check .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

/*menus*/
.menu_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  margin: 0 auto;
}

.logo_menu {
  /*position: relative;
  margin-left: auto;
  left: -600px;*/
}

.right_title_filler {
  opacity: 0;
}

.img_menu {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.main_menu {
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -30px;
  padding-left: 30px;
  padding-right: 30px;
}

.main_menu .restaurant_name {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.main_menu .restaurant_name h2 {
  justify-content: center;
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
}

.restaurant_name .fa-heart {
  justify-content: end;
  color: black;
}

/*violet*/
/*rose*/
/*vert*/
/*lighter grey*/
/*grey*/
@keyframes spinner_keyframe {
  0% {
    opacity: 1;
    rotate: 360deg;
  }
  10% {
    rotate: 360deg;
  }
  20% {
    rotate: 360deg;
  }
  50% {
    opacity: 0.5;
    rotate: 360deg;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.functions .functionning {
  display: flex;
  align-items: center;
  position: relative;
  /* max-width: 415px; */
  background-color: white;
  margin: 20px 0;
  font-weight: bold;
  height: 100px;
  box-shadow: 20px 6px 8px #d5d5d5;
  border-radius: 25px;
  /* width: 100%; */
  padding: 10px 0px 10px 30px;
  /* margin: 0 20px 0 20px; */
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  background: white;
  width: 100%;
  display: block;
  text-align: center;
  height: 100%;
  color: #FFF;
  transform: translateY(-50%);
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  animation: wrapper_fade 1s ease-in-out 3s forwards;
}

@keyframes wrapper_fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.spinner {
  width: 56px;
  height: 56px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #474bff;
  animation: spinner_keyframe 3s ease-in-out 0.1s forwards;
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 50%;
}
@media screen and (min-width: 768px) {
  .spinner {
    top: 40%;
    left: 35%;
  }
}
@media screen and (min-width: 1280px) {
  .spinner {
    top: 40%;
    left: 45%;
  }
}

.logo {
  width: 100%;
  height: 70px;
  justify-content: center;
  display: flex;
  align-content: center;
}
.logo img {
  height: 100%;
}

.header_accueil {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #F6F6F6;
  border-color: black;
  margin-top: 20px;
  height: auto;
  margin-bottom: 50px;
}
.header_accueil .city {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  font-size: 31px;
  height: 63px;
  line-height: 31px;
  gap: 12px;
  padding-top: 40px;
  align-content: center;
}
.header_accueil .city span {
  margin-left: 10px;
}
.header_accueil .header_accueil h1 {
  margin-top: 50px;
}
.header_accueil .search_button {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  /*border-radius: 30px;*/
  padding: 20px 20px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  font-size: 24px;
  border-radius: 60px;
  height: auto;
  /*padding: 24px;*/
  margin-top: 30px;
  margin-bottom: 90px;
}
.header_accueil .search_button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

.function_title {
  margin-left: 20px;
}

.functions {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 440px;
  padding: 30px 25px 60px 25px;
  margin: 0;
}
.functions .functionning .fonc_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #9356DC;
  font-weight: 400;
  font-size: 0.8em;
  color: white;
}
.functions .functionning .sub-funct {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.functions .functionning .sub-funct svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 20px;
  margin: 0 20px 0 35px;
}
.functions .functionning .sub-funct p {
  font-size: 24px;
  letter-spacing: 0.2rem;
}
@media screen and (min-width: 1280px) {
  .functions .functionning {
    display: flex;
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .functions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 180px;
    padding: 25px;
  }
}

.svg__smartphone :nth-child(2),
.svg__smartphone :nth-child(3) {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.svg__listing {
  stroke: gray;
}

.svg__store {
  fill: #9356DC;
  stroke: #9356DC;
}

.fa-mobile,
.fa-list,
.fa-store {
  color: grey;
}

/*restaurants*/
.restaurants {
  background-color: #F6F6F6;
  margin-top: 100px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .restos_cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*row*/
  }
}

.restaurants h1 {
  margin-left: 20px;
}

.restaurant_link {
  text-decoration-line: none;
}

.restaurant {
  border-radius: 16px;
  background-color: white;
  margin: 20px 20px 0 20px;
  color: black;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .restaurant {
    width: 415px;
  }
}

.new {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 3%;
  top: 5%;
  font-weight: bold;
}

.info_rest {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

.info_rest .fa-heart {
  color: black;
  text-align: right;
  align-items: right;
  justify-content: end;
}

.fill_heart {
  color: black;
  cursor: pointer;
}
.fill_heart:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.img_rest {
  height: 200px;
  width: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.restaurant .new_restaurant1 {
  position: absolute;
  bottom: -50px;
  left: 350px;
  color: green;
  background-color: black;
}

.restaurant .new_restaurant2 {
  position: absolute;
  bottom: -50px;
  left: 350px;
  color: green;
  background-color: black;
}

/*violet*/
/*rose*/
/*vert*/
/*lighter grey*/
/*grey*/
@keyframes spinner_keyframe {
  0% {
    opacity: 1;
    rotate: 360deg;
  }
  10% {
    rotate: 360deg;
  }
  20% {
    rotate: 360deg;
  }
  50% {
    opacity: 0.5;
    rotate: 360deg;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
