@keyframes spinner_keyframe {
  0% {
    opacity: 1 ;
    rotate: 360deg;
  }
  10% {
    rotate: 360deg;
  }
  20% {
    rotate: 360deg;
  }
  50% {
    opacity: 0.5;
    rotate: 360deg;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
