@keyframes spinner_keyframe {
  0% {
    opacity: 1 ;
    -webkit-transform: rotate(360deg);
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
