@import "../utils/maps";

@mixin tablet {
  @media screen and (min-width:map-get($breakpoints, tablet)){
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width:map-get($breakpoints, desktop)){
    @content;
  }
}

@mixin recipe {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
  &:hover {
    padding-right: 75px;
  }
  &:hover .check {
    opacity: 1;
    transform: translate(-50px);
  }
  &:hover .fa-check-circle {
    transform: rotate(360deg) ;
  }
}

@mixin check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tertiary_color;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
  & .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }
}

@mixin btn-card {
  color: #008766;
  background: $color-tertiary;
  border: 5px solid $color-tertiary;
  border-radius: 5px;
  position: absolute;
  right: 1%;
  top: 5%;
}