$primary_color: #9356DC; /*violet*/
$secondary_color: #FF79DA; /*rose*/
$tertiary_color: #99E2D0; /*vert*/
$main_menu_color:#F6F6F6; /*lighter grey*/
$accueil_header_city:#EAEAEA;/*grey*/
$footer_color:#353535;
$anim-delay:1000ms;
$percentage-lighten-functionning:35%; 
$colour-bg: #f6f6f6;
