@import "../utils/variables";
@import "../utils/keyframes";
@import "../utils/mixins";

.spinner {
    width: 56px;
    height: 56px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    border: 9px solid;
    border-color: #dbdcef;
    border-right-color: #474bff;
    animation: spinner_keyframe 1s ease-in-out 3s forwards;
    vertical-align: middle;
position: absolute;
top: 40%;
left: 20%;
@include tablet {
top:40%;
left: 35%;
}
@include desktop {
top: 40%;
left: 45%;
 }
 }

.logo {
    justify-content: center;
    display: flex;
}
.header_accueil {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $main_menu_color;
    border-color: black;
}
.header_accueil .city {
    background-color: $accueil_header_city;
    display: flex;
    justify-content: center;
}
.city a {
margin-left: 10px;
}

.search_bouton
{
    color: white;
    background-color:#9356DC; /*degradé*/
}

.functions{
    @include tablet {

      }
      @include desktop {
        display: flex;
         }
         
}

.functions h1 {
padding-left: 20px;
}

.functionning
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.functionning .sub-funct
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  $main_menu_color;
    border-radius:16px;
    margin: 10px 00px 0 00px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
.fonc_number
{
    background-color:  #9356DC;
    color: white;
    border-radius:50%;
}
.func-icon {
    align-items: center;
    margin-left: 10px;
}
.fa-mobile, .fa-list, .fa-store 
{
    color: black;
}

.functionning p {
    margin-left: 10px;
}

/*restaurants*/
.restaurants {
    background-color:   $main_menu_color;
}
.restaurant_link {
    text-decoration-line: none;  
}
.restaurant {
    border-radius: 16px;
    background-color: white;
    margin: 20px 20px 0 20px;
    color: black;
    position: relative;
}
.new {
    color: #008766;
    background: $tertiary_color;
    border: 5px solid $tertiary_color;
    border-radius: 5px;
    position: absolute;
    right: 1%;
    top: 5%;
  }
  
.info_rest {
    display: flex;
    justify-content: space-between;
}

.info_rest .fa-heart
{
    color: black;
    text-align: right;
    align-items: right;
    justify-content: end;
}

.fill_heart {
    color: black;
    cursor: pointer;
    &:hover {
      animation: fill 0.3s ease-in-out;
      display: inline-block;
      opacity: 1;
      background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
      background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
      -webkit-background-clip: text;
      -webkit-text-fill-color:transparent;
      font-weight: bold;
    }
  }

.img_rest
{
    height: 200px;
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.restaurant .new_restaurant1
{
    position: absolute;
    bottom: -50px;
    left: 350px;
    color:green;
    background-color: black;
}
.restaurant .new_restaurant2
{
    position: absolute;
    bottom: -50px;
    left: 350px;
    color:green;
    background-color: black;
}