@import "../utils/variables";
@import "../utils/keyframes";
@import "../utils/mixins";
@import "../utils/extends";

.wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    background: white;
    width: 100%;
    display: block;
    text-align: center;
    height: 100%;
    color: #FFF;
    transform: translateY(-50%);
    z-index: 1000;
    visibility: visible;
    opacity: 1;
    animation: wrapper_fade 1s ease-in-out 3s forwards;
}

@keyframes wrapper_fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.spinner {
    width: 56px;
    height: 56px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    border: 9px solid;
    border-color: #dbdcef;
    border-right-color: #474bff;
    animation: spinner_keyframe 3s ease-in-out 0.1s forwards;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 50%;

    @include tablet {
        top: 40%;
        left: 35%;
    }

    @include desktop {
        top: 40%;
        left: 45%;
    }
}

.logo {
    width: 100%;
    height: 70px;
    justify-content: center;
    display: flex;
    align-content: center;

    img {
        height: 100%;
    }
}

.header_accueil {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $main_menu_color;
    border-color: black;
    margin-top: 20px;
    height: auto;
    margin-bottom: 50px;

    .city {
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        font-size: 31px;
        height: 63px;
        line-height: 31px;
        gap: 12px;
        padding-top: 40px;
        align-content: center;

        span {
            margin-left: 10px;
        }
        h1 {
            margin-top: 50px;
        }
    }


    .search_button {
        background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        border: 1px solid transparent;
        /*border-radius: 30px;*/
        padding: 20px 20px;
        color: #fff;
        font-weight: bold;
        box-shadow: 4px 4px 6px #aaa;
        cursor: pointer;
        font-size: 24px;
        border-radius: 60px;
        height: auto; 
        /*padding: 24px;*/
        margin-top: 30px;
        margin-bottom: 90px;
        &:hover {
            background-color: lighten(#9356dc, 10%);
            background-blend-mode: lighten;
            box-shadow: 4px 4px 6px #000;
          }
    }
}

.function_title {
    margin-left: 20px;
}

.functions {
    @include flex(column, 0, 0, 0);
    background-color: white; 
    height: 440px;
    padding: 30px 25px 60px 25px;
    margin: 0;

    .functionning {
        @extend %functionning_elt;
    
        .fonc_number {
            @include flex(0, center, center, 0);
            @include element-position(absolute, 27px, 0, 0, -10px);
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: $primary_color;
            font-weight: 400;
            font-size: .8em;
            color: white;
        }
    
        .sub-funct {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-between;
            align-items: center;
    
            svg {
                @include flex(0, center, center, 0);
                height: 25px;
                width: 20px;
                margin: 0 20px 0 35px;
            }
    
            p {
                font-size: 24px;
                letter-spacing: .2rem;
            }
        }
    
        @include tablet {}
    
        @include desktop {
            display: flex;
            width: 30%;
            
        }
    
    }

    @include tablet {}

    @include desktop {
        @include flex(row, space-between, 0, wrap);
        height: 180px;
        padding: 25px;
    }

}





.svg__smartphone :nth-child(2),
.svg__smartphone :nth-child(3) {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

.svg__listing {
    stroke: gray;
}

.svg__store {
    fill: #9356DC;
    stroke: #9356DC;
}


.fa-mobile,
.fa-list,
.fa-store {
    color: grey;
}


/*restaurants*/
.restaurants {
    background-color: $main_menu_color;
    margin-top: 100px;
    padding-bottom: 20px;
    h1 {
        margin-left: 20px;
    }
}

.restos_cards {
    @include desktop {
        @include flex(0, space-around, 0, wrap);/*row*/
    }
}

.restaurant_link {
    text-decoration-line: none;
}

.restaurant {
    border-radius: 16px;
    background-color: white;
    margin: 20px 20px 0 20px;
    color: black;
    position: relative;
    .new_restaurant1 {
        position: absolute;
        bottom: -50px;
        left: 350px;
        color: green;
        background-color: black;
    }
    .new_restaurant2 {
        position: absolute;
        bottom: -50px;
        left: 350px;
        color: green;
        background-color: black;
    }
    @include desktop {
       width: 415px;
    }
}

.new {
    color: #008766;
    background: $tertiary_color;
    border: 5px solid $tertiary_color;
    border-radius: 5px;
    position: absolute;
    right: 3%;
    top: 5%;
    font-weight: bold;
}

.info_rest {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    .fa-heart {
        color: black;
        text-align: right;
        justify-content: end;
    }
}


.fill_heart {
    color: black;
    cursor: pointer;

    &:hover {
        animation: fill 0.3s ease-in-out;
        display: inline-block;
        opacity: 1;
        background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

.img_rest {
    height: 200px;
    width: 100%;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}
