@import "../utils/variables";
@import "../utils/mixins";


.body_menu {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  background-color: #F6F6F6;
}

main {
  @include flex(column, 0, 0, 0);

}

.menu_title .fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
}

.recipes {
  @include desktop {
    display: flex;
    justify-content: space-around;
  }
}

.starter {
  margin: 30px 0;

  animation: fadein 3s ease-in-out;

  @include desktop {
    width: 100%;
  }
}

.main_course {
  margin: 30px 0;
  animation: fadein 6s ease-in-out;

  @include desktop {
    width: 100%;
  }
}

.dessert {
  margin: 30px 0;
  animation: fadein 9s ease-in-out;

  @include desktop {
    width: 100%;
  }
}


.dessert__title,
.main_course__title,
.starter__title {
  /* border-bottom: 3px solid #99E2D0; */
  background: linear-gradient(to right, #99E2D0, #99E2D0) no-repeat bottom transparent;
  background-size: 5% 3px;
  background-position: left bottom;
  margin-left: 5px;
  font-size: 1em;
  font-weight: 400;
  height: 30px;
}


.recipe {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;

  &:hover {
    padding-right: 75px;
  }

  &:hover .recipe_check {
    opacity: 1;
    transform: translate(-50px);
  }

  &:hover .fa-check-circle {
    transform: rotate(360deg);
  }
}

.recipe_info_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}

.recipe_info_price p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: normal;

  @include desktop {
    padding-right: 20px;
  }
}

.recipe_info_price span {
  margin-right: 25px;
}

.recipe_check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tertiary_color;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;

  & .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }
}

/*menus*/
.menu_title {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 30px; */
  margin: 0 auto;
  position: relative;
  height: 63px;
  width: 100%;
  max-width: 1400px;
  align-content: center;
}



.logo_menu {
  height: 34px;
  width: auto;
}



.img_menu {
  height: 335px;
  display: flex;
  z-index: 0;
  flex-direction: column;
  width: 100%;
  object-fit: cover;
}


.main_menu {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  width: 100%;
  top: -70px;
  display: flex;
  padding: 30px 12px 0 12px;
  flex-direction: column;
  align-items: center;
}



.main_menu .restaurant_name {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* padding: 10px; */
}


.main_menu .restaurant_name h2 {
  justify-content: center;
  font-family: 'Shrikhand', sans-serif;
  font-size: 40px;
}

.restaurant_name .fa-heart {
  justify-content: end;
  color: black;
}