@import "../utils/variables";

.header_accueil .search_bouton
{
    color: white;
    background: radial-gradient(circle, lighten($primary_color, 5) 0%, darken($primary_color, 10) 100%);
}


.main_menu .order_button
{
    color: white;
    background: radial-gradient(circle, lighten($primary_color, 5) 0%, darken($primary_color, 10) 100%);
    align-items: center;
}