.loader__food {
        width: 56px;
        height: 56px;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;
        border: 9px solid;
        border-color: #dbdcef;
        border-right-color: #474bff;
        animation: loader 1s ease-in-out 3s forwards;
        vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 20%;
  @include tablet {
    top:40%;
    left: 35%;
  }
  @include desktop {
    top: 40%;
    left: 45%;
     }
     }
